<h1 style="text-align:center; font-size:40px;"> Team 6 - TASK - 2 </h1>

## Importing Libraries

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Importing the files (features and target) from https://archive.ics.uci.edu/dataset/2/adult

In [6]:
pip install ucimlrepo

Requirement already satisfied: ucimlrepo in /opt/anaconda3/lib/python3.12/site-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /opt/anaconda3/lib/python3.12/site-packages (from ucimlrepo) (2025.1.31)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
df_adult = fetch_ucirepo(id=2) 
  
# data (as pandas dataframes) 
X = df_adult.data.features 
Y = df_adult.data.targets

### -- features table

In [9]:
X

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States

### -- target table

In [11]:
Y

       income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
48837  <=50K.
48838  <=50K.
48839  <=50K.
48840  <=50K.
48841   >50K.

[48842 rows x 1 columns]

In [12]:
# Merging features and target table(X and Y)

df_adult = X.copy()
df_adult["income"] = Y.iloc[:, 0]

In [13]:
df_adult

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K.
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

<p style="font-family: Cambria; font-size: 30px;"><b>
Problem Statement : Understand data and variables, define problem statement and ML flow. </p>

### Dataset Overview
The Adult Census Income dataset contains demographic, educational, and employment-related information collected from individuals. 
The dataset includes both numerical and categorical variables such as age, education level, workclass, occupation, marital status, 
hours worked per week, and native country. The target variable is **income**, which indicates whether an individual earns more than 
$50,000 per year. <br>

### Data Definition

<p style="font-family: Cambria; font-size: 16px;">

1. <b>age</b> - Age of the person and has no missing values. <br>

2. <b>workclass</b> - workclass indicates the type of employment or work arrangement under which an individual is employed, reflecting whether they work in the private sector, are self-employed, work for government, or are not employed. Categorical (Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.) <br>

3. <b>fnlwgt</b> - fnlwgt (Final Weight) represents the number of people in the population that each individual record represents, based on Census weighting adjustments. Integer - datatype. <br>

4. <b>education</b> - Highest level of education attained by the individual. Categorical 
(Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool) and has no missing values. <br>

5. <b>education-num</b> - Number of years of education corresponding to the education level. Integer datatype and has no missing values. <br>

6. <b>marital-status</b> - Marital status of the individual, describing their current marital condition. Categorical 
(Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse) and has no missing values. <br>

7. <b>occupation</b> - Type of occupation or job role of the individual. Categorical 
(Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces) and contains missing values. <br>

8. <b>relationship</b> - Relationship status within the household. Categorical 
(Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried) and has no missing values. <br>

9. <b>race</b> - Race of the individual. Categorical 
(White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black) and has no missing values. <br>

10. <b>sex</b> - Biological sex of the individual. Binary 
(Male, Female) and has no missing values. <br>

11. <b>capital-gain</b> - Capital gains earned by the individual. Integer datatype and has no missing values. <br>

12. <b>capital-loss</b> - Capital losses incurred by the individual. Integer datatype and has no missing values. <br>

13. <b>hours-per-week</b> - Number of hours worked per week by the individual. Integer datatype and has no missing values. <br>

14. <b>native-country</b> - Country of origin of the individual. Categorical 
(United-States and other countries) and contains missing values. <br>

15. <b>income</b> - Target variable indicating whether the individual's income exceeds $50K per year. Binary 
(>50K, <=50K) and has no missing values. <br>


### Variables Description
The dataset consists of multiple feature variables used for prediction and one target variable:
- Numerical features include age, education-num, capital-gain, capital-loss, hours-per-week, and fnlwgt.
- Categorical features include workclass, education, marital-status, occupation, relationship, race, sex, and native-country.
- The target variable **income** is binary, with values `>50K` and `<=50K`. <br> <br>

### Problem Statement

<p style="font-family: Cambria; font-size: 16px;">

1. The objective of this project is to analyze the Adult Census Income dataset to understand its variables and their relationship with income levels, and to build a machine learning classification model that predicts whether an individual’s annual income exceeds $50,000.

2. Using demographic, educational, and employment-related attributes, the model aims to identify patterns that distinguish higher-income individuals from lower-income individuals and accurately classify income levels for unseen data.

</p>

### Exporting file into csv

df_adult.to_csv("adult_ml.csv", index=False)

# Task 2 : Initial Exploration 
### Check the first few rows of the dataset using the head() or sample() function to get an overview of the data. Examine the columns and their data types using info(). Check for missing values using isnull() or info(). Investigate basic summary statistics with describe().

In [37]:
# View first few rows
df_adult.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [43]:
# View few rows usingSample
df_adult.sample(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
9269,36,Private,95336,HS-grad,9,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,45,United-States,>50K
39036,28,Private,282398,Some-college,10,Divorced,Craft-repair,Not-in-family,White,Male,0,0,35,United-States,<=50K.
10670,71,Private,183678,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,16,United-States,<=50K
14649,24,Private,275093,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Female,0,0,36,United-States,<=50K
25494,23,Private,412248,Assoc-acdm,12,Never-married,Other-service,Not-in-family,White,Female,0,0,25,United-States,<=50K

In [45]:
# Check column names, data types, and non-null counts
df_adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       47879 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      47876 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48568 non-null  object
 14  income          48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [47]:
# Check for missing values
df_adult.isnull().sum()

age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64

In [49]:
# View basic summary statistics
df_adult.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [53]:
# Check the shape (number of rows and columns) of the dataframe
df_adult.shape

(48842, 15)